/*External Styling*/

*{
	font-family: 'Roboto', sans-serif;
	font-size: 20px ;
}

h1 {
	font-size: 2rem;
}
li[title] {
	border-width: 2px;
	border-style: solid;
	border-color: #879eb0;

}

.lang {
	background-color: #92CA91;
}

#instructions {
	text-transform: uppercase;
}
#yellow {
	color: yellow;
}
img + ul {
	list-style-type: none;
}

section img {
	width: 120px;
	height:120px;
	border-radius: 60px;
}

h4 ~ p {
	text-align: center;
	color: black;
}
ul > li {
	letter-spacing: 5px;
}